<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>Accuracy</title>
</head>
 

<body>
 
    <div class="container">
        <div class="header">
            <h2 class="text-muted">Your Codeforces Accuracy!!</h2>
        </div>

        <div class="jumbotron">
            <form class="form-signin" method="post" action="/func">
                <h3>Enter Codeforces Handle</h3>
                <label for="handle" class="sr-only">Handle:</label>
                <input type="text" name="handle" id="handle" class="form-control" placeholder="Handle" required autofocus>
                <br>
                <button id="btnSignUp" class="btn btn-lg btn-primary btn-block" type="submit">Give me the accuracy!</button>
            </form>
        </div>
        <footer class="footer">
            <p>&copy; Aditya Jain</p>
        </footer>
 
    </div>
</body>
 
</html>


